<!DOCTYPE html>
<html>
    <head>
        <title>page title</title>
        <link rel="stylesheet" href="/static/styles/main.css" />
    </head>
    <body class="full-content">
        <div id="container">

            <section id="page-content">
                <div id="carousel">

					<a href="#todo" class="next">next</a>
					
                    {% block thumbnails %}
                    <ul>
                    {% for photo in gallery.photo_set.all %}

                    {% if photo = gallery.best_photo %}
                    <li><a href="/photo/{{photo.id}}"><img src="{{photo.filename.url}}" height="350" caption="Best!" /></a></li>
                    {% else %}
                    <li><a href="/photo/{{photo.id}}"><img src="{{photo.filename.url}}" height="350" /></a></li>
                    {% endif %}

                    {% endfor %}
                    </ul>

                    {% endblock thumbnails %}
                </div>
            </section>
        </div>

        <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/app.js"></script>
    </body>
</html>
	

