<!DOCTYPE html>
<html>
	<head>
		<title>{{photo.name}}</title>
		<link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}/Styles/main.css" />
	</head>
	<body>
		<h1>{{photo.name|upper}}</h1>
		<p>{{photo.description}}</p>  
	{% if photo.visible_by == 1 %}
	<strong>ADMIN ONLY</strong>
	{% endif %}
		<img src="{{ photo.filename.url }}" height = 300 >
		<p>Uploaded {{photo.created|timesince}} ago</p>
		<p>Galleries:</p>
		<ul>
		{% for gallery in photo.galleries.all %}
		<li>
		<a href="{% url gallery-detail gallery.id %}"> {{gallery.name}}</a>
		{% if photo == gallery.best_photo %}
				Best photo of this gallery!
				<p></p>
		{% endif %}	
		{% endfor %}
		</ul>
	</body>
<html>
