
body {
    background-color: #292C27;
	color: #FFFFFF;
	font-family: Arial, Helvetica, Geneva, sans-serif;
}

a {
	color: #990000;
}


.full-content #page-content {
    position: absolute;
    left: 0px;
}
 
#carousel {
   overflow: hidden;
}
 
#carousel ul {
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
   white-space: nowrap;
}
 
#carousel li {
   position: relative;
   display: inline-block;
   vertical-align: middle;
   margin: 0;
   padding: 0 10px 0 0;
}
 
 
#carousel .animate {
   -webkit-transition: all 0.9s ease-in-out;
   -moz-transition: all 0.9s ease-in-out;
   -o-transition: all 0.9s ease-in-out;
   -ms-transition: all 0.9s ease-in-out;
   transition: all 0.9s ease-in-out;
}

